@charset "utf-8";
@import "~bulma/bulma";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

body {
  font-family: Roboto, sans-serif;
}

.hero.is-dark.is-bold {
  background-image: linear-gradient(90deg, rgba(255,255,255,0.01) 0%, rgba(217,217,217,0.8) 100%), url('./mainimage2.jpg');
  background-position: 0% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero.is-medium .hero-body {
  padding: 8rem 1.5rem;
}

.navbar-item.activated {
  background-color: rgba(237,226,138, 0.8);
}